[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/wd/hugo-theme-cactus
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = git@github.com:wd/hugo-bearblog.git
